@import "null.css";

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Circular Std", sans-serif;
  font-weight: 400;
}

.wrapper {
  padding: 140px 207px;
}
.content {
  width: 1025px;
  margin: auto;
}

.reviews {
  width: 750px;
  margin: auto;
  margin-bottom: 224px;
}

.title {
  margin-bottom: 20px;
  font-family: "Circular Std";
  font-size: 65px;
  line-height: 1.27;
  text-align: center;
  color: #313131;
}
.subtitle {
  font-size: 20px;
  text-align: center;
  line-height: 1.27;
  color: #5f5f5f;
}
.feedback {
  width: 508px;
  text-align: left;
}
.comment {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
  color: #313131;
}
.text {
  margin-bottom: 125px;
  font-size: 18px;
  line-height: 1.55;
  color: #5f5f5f;
}
.name {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: #313131;
}
.profession {
  display: block;
  margin-bottom: 67px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27;
  color: #b8b8b8;
}
.image {
  width: 468px;
  height: 674px;
  background: url("../img/fon.png") left bottom no-repeat;
  background-size: 468px 560px;
}
.photo {
  padding-left: 46px;
}
